<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
  <div class="container">
        <div class="col-md-6 offset-3">
            <form method="post" action="admin/createEvent">
                <div class="form-group text-center">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="name">
                </div>
                <div class="form-group text-center">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="title">
                </div>
                <div class="form-group text-center">
                    <label for="startDate">Start Date</label>
                    <input type="datetime" class="form-control" id="startDate" name="startDate">
                </div>
                <div class="form-group text-center">
                    <label for="endDate">End date</label>
                    <input type="text" class="form-control" id="endDate" name="endDate">
                </div>
                <div class="form-group text-center">
                    <label for="place">Place</label>
                    <input type="text" class="form-control" id="place" name="place">
                </div>
                <div class="form-group text-center">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description"></textarea>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-outline-light">Add</button>
                </div>
            </form>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <th>Előadó</th>
                            <th>Cím</th>
                            <th>Kezdés</th>
                            <th>Vége</th>
                            <th>Terem</th>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < events.length; i++) { %>
                            <tr>
                                <td><span id="event<%=i%>" data-id="<%= events[i]._id %>" data-name="<%= events[i].name %>" data-count="<%= events[i].count %>"><%= events[i].name %></span></td>
                                <td>
                                    <span id="count<%=i%>"><%= events[i].count %></span>
                                </td>
                                <td>
                                    <button type="button" onclick="edit(<%=i%>)" class="btn btn-default">
                                            <i class="fas fa-pencil-alt"></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" onclick="deleteEvent(<%=i%>)">
                                            <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
    
                </div>
            </div>
        </div>
    </div>

    <div class="overlay" id="edit-overlay">
        <div class="edit overlay-content">
            <form class="form" method="POST" action="/event/edit">
                <legend>Szerkesztés</legend>
                <input type="hidden" name="id" id="id">
                <fieldset class="form-group">
                    <label for="name">Név:</label>
                    <input class="form-control" type="text" id="editName" name="name">
                </fieldset>
                <fieldset class="form-group">
                    <label for="count">Cím:</label>
                    <input class="form-control" type="text" id="editTitle", name="title"><br>
                </fieldset>
                <fieldset class="form-group">
                    <label for="count">Kezdés:</label>
                    <input class="form-control" type="text" id="editStartDate", name="startDate"><br>
                </fieldset>
                <fieldset class="form-group">
                    <label for="count">Vége:</label>
                    <input class="form-control" type="text" id="editEndDate", name="endDate"><br>
                </fieldset>
                <fieldset class="form-group">
                    <label for="count">Terem:</label>
                    <input class="form-control" type="text" id="editPlace", name="place"><br>
                </fieldset>
                <fieldset class="form-group">
                    <label for="count">Leírás:</label>
                    <input class="form-control" type="text" id="editDescription", name="editDescription"><br>
                </fieldset>
    
                <div class="form-group">
                    <button class="btn btn-success">Mehet</button>
                    <button href="javascript:void(0)" class="btn btn-danger" onclick="closeNav()">Mégse</button>
                </div>
            </form>
        </div>
    </div>

</html>